workspace/node-v12.18.3-win-x86/.node-red/demo.json
[
    {
        "id": "48669318.1fb32c",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14db5b16.b04755",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "adefc88a.440458",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "93571c72.0d169",
        "type": "ui_tab",
        "name": "IoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb3adf1f.8164c",
        "type": "ui_group",
        "name": "Position",
        "tab": "93571c72.0d169",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": true
    },
    {
        "id": "8e3bb0d1.0576e",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "8871f9ae.0bd318",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "99ed111c.ec314",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "dc67399c.1b4c48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "3edfe6f7.6cf91a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "e589e80e.7d0278",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "e4222e7f.0477f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "b619ef6f.ae39f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "f85d7954.d4c568",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "b0c87eba.f5866",
        "type": "ui_group",
        "name": "Clean_Robot",
        "tab": "93571c72.0d169",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "3cdf854a.b3aada",
        "type": "ui_group",
        "name": "Camera",
        "tab": "93571c72.0d169",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "b7cda558.335138",
        "type": "ui_group",
        "name": "iParking",
        "tab": "93571c72.0d169",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "88cfddb3.8c3f6",
        "type": "ui_group",
        "name": "iTemperature",
        "tab": "93571c72.0d169",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "95990b3d.d35608",
        "type": "ui_group",
        "name": "motobike",
        "tab": "93571c72.0d169",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dc2921a9.cfd04",
        "type": "ui_group",
        "name": "iLED",
        "tab": "93571c72.0d169",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8fd10179.2c6d3",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "80729ab0.831ee8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eb3adf1f.8164c",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "f3862a43.b31348",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eb3adf1f.8164c",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "d274c543.2e2418",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dc2921a9.cfd04",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "5d0f94fa.9dc6cc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dc2921a9.cfd04",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "6ff6c7c1.abacd8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dc2921a9.cfd04",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4c2ffac.92a8e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "95990b3d.d35608",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "4be3b582.63acdc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "95990b3d.d35608",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "b357d49.1d8c428",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "88cfddb3.8c3f6",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "97a507af.503908",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "88cfddb3.8c3f6",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "30ccf959.88cea6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b0c87eba.f5866",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c6a4316.db726c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b0c87eba.f5866",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "3cfeda41.73ddc6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b0c87eba.f5866",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "42014ea5.e9be1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b0c87eba.f5866",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "f846110d.7b2ef",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b0c87eba.f5866",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "d1dd88d7.633738",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b0c87eba.f5866",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "39410422.7bd0fc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b0c87eba.f5866",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "940df6f9.8e0e98",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b0c87eba.f5866",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "e4a6e92b.a50bd8",
        "type": "mqtt in",
        "z": "48669318.1fb32c",
        "name": "Clean_Robot_MQSub",
        "topic": "cs/Clean_Robot/ISN84F3EB0CA751/output",
        "qos": "1",
        "datatype": "auto",
        "broker": "14db5b16.b04755",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "8a158171.4a501",
                "ad2dfd3f.c9586"
            ]
        ]
    },
    {
        "id": "27dad9bb.3a9796",
        "type": "ui_template",
        "z": "48669318.1fb32c",
        "group": "",
        "name": "html import",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<link rel=\"stylesheet\" href=\"css/bootstrap.min.css\">\n<script src=\"https://maps.googleapis.com/maps/api/js\"></script>\n<script src=\"js/jquery.min.js\"></script>\n<script src=\"js/bootstrap.min.js\"></script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 110,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b6d48fcf.98382",
        "type": "ui_template",
        "z": "48669318.1fb32c",
        "group": "eb3adf1f.8164c",
        "name": "Clean_Robot",
        "order": 2,
        "width": 2,
        "height": 2,
        "format": "<div id=\"Clean_Robot\" style=\"display:none\">{{msg.payload}}</div>\n\n<script>\n\nvar timer_mapobjID;\nvar marker_mapobj;\nvar infowindow_mapobj;\nfunction update_mapobj()\n{\n    if(g_init_singlemap_done !== 1){\n        return;    \n    }\n\n    /* object mapobj */\n    //when switch tab, this object.length=0\n    if($(\"#Clean_Robot\").length == 0){\n        return;\n    }\n    \n    var obj_mapobj;\n    try{\n        obj_mapobj = JSON.parse($(\"#Clean_Robot\").text());\n    }\n    catch(e){\n        return;\n    }\n    /* object mapobj - End */\n\n    /* info window */\n    var contentString  = \"\";\n        contentString += \"<div class='card text-white bg-dark'>\";\n        contentString += \"<div class='card-header'>\" + obj_mapobj.name + \"</div>\";\n        contentString += \"<div class='card-body'>\";\n        contentString += \"<div> IP:\"+ obj_mapobj.ip +\"</div>\";\n        contentString += \"<div> Mac:\"+ obj_mapobj.mac +\"</div>\";\n        contentString += \"</div>\";\n        contentString += \"</div>\";\n    if(typeof infowindow_mapobj === \"undefined\"){\n        //init mapobj info window\n        infowindow_mapobj = new google.maps.InfoWindow({\n                                content: contentString,\n                                position: { lat: obj_mapobj.lat, lng: obj_mapobj.lng}\n                              });\n    }\n    else{\n        infowindow_mapobj.setContent(contentString);\n    }\n    /* info window -End */\n    \n    /* marker */\n    if(typeof marker_mapobj === \"undefined\"){\n        //init mapobj marker\n        marker_mapobj = new google.maps.Marker({\n            position: { lat: obj_mapobj.lat, lng: obj_mapobj.lng},\n            map: g_map_single,\n            label: obj_mapobj.name,\n        });\n        \n        marker_mapobj.addListener(\"click\",function(){\n           infowindow_mapobj.open(g_map_single, marker_mapobj);\n        });\n    }\n    else{\n        //reset position, rebind map object.\n        marker_mapobj.setPosition(obj_mapobj);\n        marker_mapobj.setMap(g_map_single);\n    }\n    /* marker - End */\n    \n}\n$(document).ready(function()\n{\n    //when switch tab, timer re-create\n    if(typeof timer_mapobjID !== \"undefined\"){\n        clearInterval(timer_mapobjID);\n    }\n\n    timer_mapobjID = setInterval( update_mapobj ,2000);\n\n});\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1370,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c42bceae.8133",
        "type": "ui_template",
        "z": "48669318.1fb32c",
        "group": "eb3adf1f.8164c",
        "name": "g_map_single",
        "order": 1,
        "width": 14,
        "height": 8,
        "format": "<div id=\"map_single\" style=\"height:100%;\"></div>\n<script>\nvar g_map_timer;\nvar g_map_single;\nvar g_map_center = { lat: 24.9837417, lng: 121.4885141 };\nvar g_map_zoom   = 13;\nvar g_init_singlemap_done = 0;\n\n\nfunction init_googleMap()\n{\n    if(g_init_singlemap_done == 1)\n    {\n        console.log(\"init gmap success\");\n        clearInterval(g_map_timer);\n        return;    \n    }\n    \n    if(typeof g_map_single !== \"undefined\"){\n        delete g_map_single;\n    }\n\n    if(typeof google == \"undefined\"){\n        console.log(\"wait googlemap\");\n        return;    \n    }\n    \n    g_map_single = new google.maps.Map(document.getElementById(\"map_single\"), {\n        zoom: g_map_zoom,\n        center: g_map_center\n    });\n\n    g_init_singlemap_done = 1;\n    \n}\n\n$(document).ready(function()\n{\n    \n    //第一個頁面要加這個機制，否則隨機開始網頁，會出現 google is undefined。\n    //when switch tab, timer re-create\n    if(typeof g_map_timer !== \"undefined\"){\n        clearInterval(g_map_timer);\n    }\n\n    g_map_timer = setInterval( init_googleMap ,1000);\n});\n\n\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1d7fe1de.2178ce",
        "type": "ui_template",
        "z": "48669318.1fb32c",
        "group": "3cdf854a.b3aada",
        "name": "即時影像範例",
        "order": 1,
        "width": 6,
        "height": 5,
        "format": "<img id=\"testmjpeg\" style=\"width:100%;height:100%\" src=\"https://thbcctv18.thb.gov.tw/T3-247K+700\">\n<script>\n    setInterval(function(){\n        $(\"#testmjpeg\").attr(\"src\",\"#\");\n        $(\"#testmjpeg\").attr(\"src\",\"https://cctv-ss05.thb.gov.tw:443/T27-58K+600\");\n    }, 20000);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1360,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "8a158171.4a501",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get value",
        "func": "var obj = JSON.parse(msg.payload);\nif(typeof obj.value.N !== \"undefined\")\n{\n    msg.payload = {\n               name: obj.value.N,\n               ip  : obj.value.LocalIP,\n               mac : obj.value.Mac,\n               gps : obj.value.GPS,\n               key : obj.value.Key,\n               lat : obj.value.Lat,\n               lng : obj.value.Lng\n              };\n    console.log(obj);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "b6d48fcf.98382",
                "c2aec7db.2b5f48",
                "17eabe1b.210472"
            ]
        ]
    },
    {
        "id": "976da909.218b78",
        "type": "mqtt out",
        "z": "48669318.1fb32c",
        "name": "Clean_Robot_MQPub",
        "topic": "cs/Clean_Robot/ISN84F3EB0CA751/input",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "14db5b16.b04755",
        "x": 1640,
        "y": 320,
        "wires": []
    },
    {
        "id": "734742b8.82691c",
        "type": "ui_button",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "b0c87eba.f5866",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "↑",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"SetIRControl\", \"param\":{\"send\":\"SetIRup\"}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1350,
        "y": 360,
        "wires": [
            [
                "976da909.218b78"
            ]
        ]
    },
    {
        "id": "c2aec7db.2b5f48",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "b0c87eba.f5866",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "x": 1350,
        "y": 200,
        "wires": []
    },
    {
        "id": "17eabe1b.210472",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "b0c87eba.f5866",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "x": 1350,
        "y": 240,
        "wires": []
    },
    {
        "id": "e85a6830.d1bed8",
        "type": "ui_button",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "b0c87eba.f5866",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "←",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"SetIRControl\", \"param\":{\"send\":\"SetIRleft\"}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1350,
        "y": 480,
        "wires": [
            [
                "976da909.218b78"
            ]
        ]
    },
    {
        "id": "dbfa0255.7943e",
        "type": "ui_button",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "b0c87eba.f5866",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "→",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"SetIRControl\", \"param\":{\"send\":\"SetIRright\"}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1350,
        "y": 520,
        "wires": [
            [
                "976da909.218b78"
            ]
        ]
    },
    {
        "id": "994e8156.44972",
        "type": "ui_button",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "b0c87eba.f5866",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "↓",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"SetIRControl\", \"param\":{\"send\":\"SetIRdown\"}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "976da909.218b78"
            ]
        ]
    },
    {
        "id": "35cd448b.f7abec",
        "type": "ui_button",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "b0c87eba.f5866",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Clean",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"SetIRControl\", \"param\":{\"send\":\"SetIRclean\"}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1350,
        "y": 400,
        "wires": [
            [
                "976da909.218b78"
            ]
        ]
    },
    {
        "id": "2bbd7d12.c0d662",
        "type": "ui_button",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "b0c87eba.f5866",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"cmd\":\"SetIRControl\", \"param\":{\"send\":\"SetIRhome\"}}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1350,
        "y": 320,
        "wires": [
            [
                "976da909.218b78"
            ]
        ]
    },
    {
        "id": "ad2dfd3f.c9586",
        "type": "timeouttrigger",
        "z": "48669318.1fb32c",
        "ontimeouttype": "str",
        "ontimeoutval": "0",
        "duration": "5",
        "units": "s",
        "name": "Timeout_Clean_Robot",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "c66c5c08.7521e"
            ]
        ]
    },
    {
        "id": "db1b742e.4ccc28",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "b0c87eba.f5866",
        "order": 1,
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1350,
        "y": 280,
        "wires": []
    },
    {
        "id": "dc9d5ca6.555ff",
        "type": "inject",
        "z": "48669318.1fb32c",
        "name": "Init Timeout",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "ad2dfd3f.c9586",
                "fafe13e7.fa5f8",
                "b76fa884.b03da8",
                "43f4a255.b01e6c"
            ]
        ]
    },
    {
        "id": "c66c5c08.7521e",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get Timeout",
        "func": "if(msg.payload === \"0\"){\n    return msg;\n}\nelse{\n    msg.payload = \"1\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 220,
        "wires": [
            [
                "db1b742e.4ccc28"
            ]
        ]
    },
    {
        "id": "639f36a1.e59db8",
        "type": "mqtt in",
        "z": "48669318.1fb32c",
        "name": "motobike_MQSub",
        "topic": "csstudiospace/motobike/output",
        "qos": "1",
        "datatype": "auto",
        "broker": "14db5b16.b04755",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 330,
        "y": 600,
        "wires": [
            [
                "de2b901b.f2b64",
                "fafe13e7.fa5f8"
            ]
        ]
    },
    {
        "id": "de2b901b.f2b64",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get value",
        "func": "var obj = JSON.parse(msg.payload);\nif(typeof obj.value.N !== \"undefined\")\n{\n    msg.payload = {\n               name: obj.value.N,\n               ip  : obj.value.IP,\n               mac : obj.value.Mac,\n               gps : obj.value.GPS,\n               key : obj.value.Key,\n               lat : obj.value.Lat,\n               lng : obj.value.Lng\n              };\n    console.log(obj);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 600,
        "wires": [
            [
                "3bea7c9d.8ce614",
                "499bd25c.dba8dc",
                "e1929d27.e482f"
            ]
        ]
    },
    {
        "id": "3bea7c9d.8ce614",
        "type": "ui_template",
        "z": "48669318.1fb32c",
        "group": "95990b3d.d35608",
        "name": "motobike",
        "order": 3,
        "width": 1,
        "height": 1,
        "format": "<div id=\"Motobike\" style=\"display:none\">{{msg.payload}}</div>\n\n<script>\n\nvar timer_mapmotobikeID;\nvar marker_mapmotobike;\nvar infowindow_mapmotobike;\nfunction update_mapmotobike()\n{\n    if(g_init_singlemap_done !== 1){\n        return;    \n    }\n\n    /* object mapmotobike */\n    //when switch tab, this object.length=0\n    if($(\"#Motobike\").length == 0){\n        return;\n    }\n    \n    var obj_mapmotobike;\n    try{\n        obj_mapmotobike = JSON.parse($(\"#Motobike\").text());\n    }\n    catch(e){\n        return;\n    }\n    \n    /* object mapmotobike - End */\n\n    /* info window */\n    var contentString  = \"\";\n        contentString += \"<div class='card text-white bg-dark'>\";\n        contentString += \"<div class='card-header'>\" + obj_mapmotobike.name + \"</div>\";\n        contentString += \"<div class='card-body'>\";\n        contentString += \"<div> IP:\"+ obj_mapmotobike.ip +\"</div>\";\n        contentString += \"<div> Mac:\"+ obj_mapmotobike.mac +\"</div>\";\n        contentString += \"</div>\";\n        contentString += \"</div>\";\n    if(typeof infowindow_mapmotobike === \"undefined\"){\n        //init mapmotobike info window\n        infowindow_mapmotobike = new google.maps.InfoWindow({\n                                content: contentString,\n                                position: { lat: obj_mapmotobike.lat, lng: obj_mapmotobike.lng}\n                              });\n    }\n    else{\n        infowindow_mapmotobike.setContent(contentString);\n    }\n    /* info window -End */\n    \n    /* marker */\n    if(typeof marker_mapmotobike === \"undefined\"){\n        //init mapmotobike marker\n        marker_mapmotobike = new google.maps.Marker({\n            position: { lat: obj_mapmotobike.lat, lng: obj_mapmotobike.lng},\n            map: g_map_single,\n            label: obj_mapmotobike.name,\n        });\n        \n        marker_mapmotobike.addListener(\"click\",function(){\n           infowindow_mapmotobike.open(g_map_single, marker_mapmotobike);\n        });\n    }\n    else{\n        //reset position, rebind map object.\n        marker_mapmotobike.setPosition(obj_mapmotobike);\n        marker_mapmotobike.setMap(g_map_single);\n    }\n    /* marker - End */\n    \n}\n$(document).ready(function()\n{\n    //when switch tab, timer re-create\n    if(typeof timer_mapmotobikeID !== \"undefined\"){\n        clearInterval(timer_mapmotobikeID);\n    }\n\n    timer_mapmotobikeID = setInterval( update_mapmotobike ,2000);\n\n});\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1340,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "499bd25c.dba8dc",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "95990b3d.d35608",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "x": 1330,
        "y": 660,
        "wires": []
    },
    {
        "id": "e1929d27.e482f",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "95990b3d.d35608",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "x": 1330,
        "y": 700,
        "wires": []
    },
    {
        "id": "708bf1b1.9549f",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "95990b3d.d35608",
        "order": 1,
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1330,
        "y": 740,
        "wires": []
    },
    {
        "id": "fafe13e7.fa5f8",
        "type": "timeouttrigger",
        "z": "48669318.1fb32c",
        "ontimeouttype": "str",
        "ontimeoutval": "0",
        "duration": "5",
        "units": "s",
        "name": "Timeout_mootobike",
        "x": 580,
        "y": 660,
        "wires": [
            [
                "ca440fa.bdbc1f",
                "f5080094.69c72"
            ]
        ]
    },
    {
        "id": "ca440fa.bdbc1f",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get Timeout",
        "func": "if(msg.payload === \"0\"){\n    return msg;\n}\nelse{\n    msg.payload = \"1\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 660,
        "wires": [
            [
                "708bf1b1.9549f"
            ]
        ]
    },
    {
        "id": "cc779050.2be3b",
        "type": "mqtt in",
        "z": "48669318.1fb32c",
        "name": "iTemperature_MQSub",
        "topic": "cs/iTemperature/output",
        "qos": "1",
        "datatype": "auto",
        "broker": "14db5b16.b04755",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 340,
        "y": 860,
        "wires": [
            [
                "805af43a.c44c28",
                "b76fa884.b03da8"
            ]
        ]
    },
    {
        "id": "805af43a.c44c28",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get value",
        "func": "var obj = JSON.parse(msg.payload);\nif(typeof obj.value.N !== \"undefined\")\n{\n    msg.payload = {\n               name: obj.value.N,\n               ip  : obj.value.IP,\n               mac : obj.value.Mac,\n               gps : obj.value.GPS,\n               key : obj.value.Key,\n               lat : obj.value.Lat,\n               lng : obj.value.Lng,\n               hum : obj.value.hum,\n               temp : obj.value.temp,\n              };\n    console.log(obj);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 860,
        "wires": [
            [
                "1af18c55.0aafa4",
                "efad88ea.1dce18",
                "61ec5802.70a8d8",
                "2b49ddcf.808382"
            ]
        ]
    },
    {
        "id": "1af18c55.0aafa4",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "88cfddb3.8c3f6",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "x": 1330,
        "y": 860,
        "wires": []
    },
    {
        "id": "efad88ea.1dce18",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "88cfddb3.8c3f6",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "x": 1330,
        "y": 900,
        "wires": []
    },
    {
        "id": "b76fa884.b03da8",
        "type": "timeouttrigger",
        "z": "48669318.1fb32c",
        "ontimeouttype": "str",
        "ontimeoutval": "0",
        "duration": "5",
        "units": "s",
        "name": "Timeout_iTemperature",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "d95c728a.e8c18"
            ]
        ]
    },
    {
        "id": "2b529ae7.f5dae6",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "88cfddb3.8c3f6",
        "order": 1,
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1330,
        "y": 940,
        "wires": []
    },
    {
        "id": "d95c728a.e8c18",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get Timeout",
        "func": "if(msg.payload === \"0\"){\n    return msg;\n}\nelse{\n    msg.payload = \"1\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 940,
        "wires": [
            [
                "2b529ae7.f5dae6"
            ]
        ]
    },
    {
        "id": "61ec5802.70a8d8",
        "type": "ui_gauge",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "88cfddb3.8c3f6",
        "order": 6,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "℃",
        "format": "{{msg.payload.temp}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1350,
        "y": 980,
        "wires": []
    },
    {
        "id": "26f0a6ee.81265a",
        "type": "ui_chart",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "88cfddb3.8c3f6",
        "order": 7,
        "width": 6,
        "height": 3,
        "label": "humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1340,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "2b49ddcf.808382",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "convert humidity",
        "func": "var hum = msg.payload.hum;\nmsg.payload = hum;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1080,
        "wires": [
            [
                "26f0a6ee.81265a"
            ]
        ]
    },
    {
        "id": "a8862612.926768",
        "type": "mqtt in",
        "z": "48669318.1fb32c",
        "name": "iLED_MQSub",
        "topic": "cs/iLED/output",
        "qos": "1",
        "datatype": "auto",
        "broker": "14db5b16.b04755",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 310,
        "y": 1120,
        "wires": [
            [
                "c8265c1f.73f31",
                "43f4a255.b01e6c"
            ]
        ]
    },
    {
        "id": "c8265c1f.73f31",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get value",
        "func": "var obj = JSON.parse(msg.payload);\nif(typeof obj.value.N !== \"undefined\")\n{\n    msg.payload = {\n               name: obj.value.N,\n               ip  : obj.value.IP,\n               mac : obj.value.Mac,\n               gps : obj.value.GPS,\n               key : obj.value.Key,\n               lat : obj.value.Lat,\n               lng : obj.value.Lng,\n               hum : obj.value.hum,\n               temp : obj.value.temp,\n              };\n    console.log(obj);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1120,
        "wires": [
            [
                "49922053.1b425",
                "201cbf44.30eac"
            ]
        ]
    },
    {
        "id": "49922053.1b425",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "dc2921a9.cfd04",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "x": 1330,
        "y": 1120,
        "wires": []
    },
    {
        "id": "201cbf44.30eac",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "dc2921a9.cfd04",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "x": 1330,
        "y": 1160,
        "wires": []
    },
    {
        "id": "43f4a255.b01e6c",
        "type": "timeouttrigger",
        "z": "48669318.1fb32c",
        "ontimeouttype": "str",
        "ontimeoutval": "0",
        "duration": "5",
        "units": "s",
        "name": "Timeout_iLED",
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "9298b544.16e858"
            ]
        ]
    },
    {
        "id": "70b8ce27.310cd",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "dc2921a9.cfd04",
        "order": 1,
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1330,
        "y": 1200,
        "wires": []
    },
    {
        "id": "9298b544.16e858",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get Timeout",
        "func": "if(msg.payload === \"0\"){\n    return msg;\n}\nelse{\n    msg.payload = \"1\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1200,
        "wires": [
            [
                "70b8ce27.310cd"
            ]
        ]
    },
    {
        "id": "bc8028a.9b906d8",
        "type": "mqtt out",
        "z": "48669318.1fb32c",
        "name": "iLED_MQPub",
        "topic": "cs/iLED/input",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "14db5b16.b04755",
        "x": 1580,
        "y": 1260,
        "wires": []
    },
    {
        "id": "8853e36f.baa41",
        "type": "ui_switch",
        "z": "48669318.1fb32c",
        "name": "",
        "label": "LED-1",
        "tooltip": "",
        "group": "dc2921a9.cfd04",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 1330,
        "y": 1260,
        "wires": [
            [
                "bc8028a.9b906d8"
            ]
        ]
    },
    {
        "id": "c243d624.8b73d8",
        "type": "ui_switch",
        "z": "48669318.1fb32c",
        "name": "",
        "label": "LED-2",
        "tooltip": "",
        "group": "dc2921a9.cfd04",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1330,
        "y": 1320,
        "wires": [
            [
                "bc8028a.9b906d8"
            ]
        ]
    },
    {
        "id": "376c9879.5306b8",
        "type": "http request",
        "z": "48669318.1fb32c",
        "name": "Line Nootify",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "8fd10179.2c6d3",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1630,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f5080094.69c72",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "Timeoout Notify",
        "func": "if(msg.payload === \"0\"){\n    //Line Notify 在HTTP Header指定的 Content-Type\n    msg.headers = {\n                    'content-type':'application/x-www-form-urlencoded',\n                    'Authorization': 'Bearer <your_line_notify_token>'\n                    }\n    msg.payload=\"message=motobike is dismiss\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 700,
        "wires": [
            [
                "376c9879.5306b8"
            ]
        ]
    }
]