workspace/node-v12.18.3-win-x86/.node-red/mqtt_in_out.json
[
    {
        "id": "b3970bf9.2627d8",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "532f09a9.1f5f78",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e747a4c6.21ba88",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5007ee03.b8f83",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "68110c81.1831e4",
        "type": "ui_group",
        "name": "Default",
        "tab": "e747a4c6.21ba88",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cf180e83.04b52",
        "type": "inject",
        "z": "b3970bf9.2627d8",
        "name": "",
        "props": [
            {
                "p": "time",
                "v": "$now()",
                "vt": "jsonata"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "13c07979.c89447"
            ]
        ]
    },
    {
        "id": "13c07979.c89447",
        "type": "function",
        "z": "b3970bf9.2627d8",
        "name": "",
        "func": "var sendmsg = {\n    name:\"hello3\",\n    t:msg.time\n}\n\nmsg.payload = sendmsg;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "5e63eff1.f08e1"
            ]
        ]
    },
    {
        "id": "a32cff00.46a1d",
        "type": "mqtt out",
        "z": "b3970bf9.2627d8",
        "name": "",
        "topic": "nptu/mymqtt_0/msg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "532f09a9.1f5f78",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e63eff1.f08e1",
        "type": "json",
        "z": "b3970bf9.2627d8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "a32cff00.46a1d"
            ]
        ]
    },
    {
        "id": "fe618b4b.d68278",
        "type": "mqtt in",
        "z": "b3970bf9.2627d8",
        "name": "",
        "topic": "nptu/mymqtt_0/msg",
        "qos": "2",
        "datatype": "auto",
        "broker": "532f09a9.1f5f78",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 440,
        "wires": [
            [
                "e696aca0.07228"
            ]
        ]
    },
    {
        "id": "e696aca0.07228",
        "type": "json",
        "z": "b3970bf9.2627d8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "3f28e91e.403c46",
                "a86bcee4.03639"
            ]
        ]
    },
    {
        "id": "3f28e91e.403c46",
        "type": "ui_text",
        "z": "b3970bf9.2627d8",
        "group": "68110c81.1831e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "name",
        "format": "{{msg.payload.name}}",
        "layout": "row-center",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "a86bcee4.03639",
        "type": "ui_text",
        "z": "b3970bf9.2627d8",
        "group": "68110c81.1831e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "time",
        "format": "{{msg.payload.t}}",
        "layout": "row-center",
        "x": 610,
        "y": 480,
        "wires": []
    }
]