workspace/node-v12.18.3-win-x86/.node-red/tutorial.json
[
    {
        "id": "48669318.1fb32c",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14db5b16.b04755",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "adefc88a.440458",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "93571c72.0d169",
        "type": "ui_tab",
        "name": "IoT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb3adf1f.8164c",
        "type": "ui_group",
        "name": "Position",
        "tab": "93571c72.0d169",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": true
    },
    {
        "id": "8e3bb0d1.0576e",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "8871f9ae.0bd318",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "99ed111c.ec314",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "dc67399c.1b4c48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "3edfe6f7.6cf91a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "e589e80e.7d0278",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "e4222e7f.0477f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "b619ef6f.ae39f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "f85d7954.d4c568",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8e3bb0d1.0576e",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "88cfddb3.8c3f6",
        "type": "ui_group",
        "name": "iTemperature",
        "tab": "93571c72.0d169",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "95990b3d.d35608",
        "type": "ui_group",
        "name": "motobike",
        "tab": "93571c72.0d169",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dc2921a9.cfd04",
        "type": "ui_group",
        "name": "iLED",
        "tab": "93571c72.0d169",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c2a02b5e.c17be8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "bcf90805.773598",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "7c803206.35dc7c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "16aaedae.90c422",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "1c4040ed.b9145f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "96237139.fd8ea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "789619e6.724428",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "b1fbcebe.eba67",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "8fd10179.2c6d3",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "eb937b05.8160a8",
        "type": "ui_group",
        "name": "iParking",
        "tab": "93571c72.0d169",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9411a11f.4b878",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "95990b3d.d35608",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ad2198c.797df8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "95990b3d.d35608",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "85dded16.b6c79",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dc2921a9.cfd04",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a186b37d.7109d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dc2921a9.cfd04",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b8dd1b39.53d188",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "dc2921a9.cfd04",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "bd7f6948.8c1ba8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "88cfddb3.8c3f6",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ec964b7.775f0c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "88cfddb3.8c3f6",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "288f8597.4b63ba",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eb937b05.8160a8",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "d879c55c.a5c4d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eb937b05.8160a8",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "7fb3471f.0b4be8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eb937b05.8160a8",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "620bb78c.20c0a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eb937b05.8160a8",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "a67f4577.e8f6f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "eb937b05.8160a8",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "c42bceae.8133",
        "type": "ui_template",
        "z": "48669318.1fb32c",
        "group": "eb3adf1f.8164c",
        "name": "g_map_single",
        "order": 1,
        "width": 14,
        "height": 8,
        "format": "<div id=\"map_single\" style=\"height:100%;\"></div>\n<script>\n\nvar g_map_single;\nvar g_map_center = { lat: 24.9837417, lng: 121.4885141 };\nvar g_map_zoom   = 13;\n\nfunction init_googleMap()\n{\n    g_map_single = new google.maps.Map(document.getElementById(\"map_single\"), {\n        zoom: g_map_zoom,\n        center: g_map_center\n    });\n    \n}\n</script>\n<script src=\"https://maps.googleapis.com/maps/api/js?callback=init_googleMap\" async></script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 100,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "dc9d5ca6.555ff",
        "type": "inject",
        "z": "48669318.1fb32c",
        "name": "Init Timeout",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "fafe13e7.fa5f8",
                "b76fa884.b03da8",
                "43f4a255.b01e6c",
                "32ea732e.0946cc"
            ]
        ]
    },
    {
        "id": "639f36a1.e59db8",
        "type": "mqtt in",
        "z": "48669318.1fb32c",
        "name": "motobike_MQSub",
        "topic": "csstudiospace/motobike/output",
        "qos": "1",
        "datatype": "auto",
        "broker": "14db5b16.b04755",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "de2b901b.f2b64",
                "fafe13e7.fa5f8"
            ]
        ]
    },
    {
        "id": "de2b901b.f2b64",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get value",
        "func": "var obj = JSON.parse(msg.payload);\nif(typeof obj.value.N !== \"undefined\")\n{\n    msg.payload = {\n               name: obj.value.N,\n               ip  : obj.value.IP,\n               mac : obj.value.Mac,\n               gps : obj.value.GPS,\n               key : obj.value.Key,\n               lat : obj.value.Lat,\n               lng : obj.value.Lng\n              };\n    console.log(obj);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "3bea7c9d.8ce614",
                "499bd25c.dba8dc",
                "e1929d27.e482f"
            ]
        ]
    },
    {
        "id": "3bea7c9d.8ce614",
        "type": "ui_template",
        "z": "48669318.1fb32c",
        "group": "95990b3d.d35608",
        "name": "motobike",
        "order": 3,
        "width": 1,
        "height": 1,
        "format": "<div id=\"Motobike\" style=\"display:none\">{{msg.payload}}</div>\n\n<script>\n\nvar marker_mapmotobike;\n\nfunction update_mapmotobike()\n{\n    /* object mapmotobike */\n    //when switch tab, this object.length=0\n    if(document.getElementById('Motobike').innerHTML.length == 0){\n        return;\n    }\n\n    var obj_mapmotobike;\n    try{\n        obj_mapmotobike = JSON.parse(document.getElementById('Motobike').innerHTML);\n    }\n    catch(e){\n        return;\n    }\n    /* object mapmotobike - End */\n    \n    /* marker */\n    if(typeof marker_mapmotobike === \"undefined\"){\n        //init mapmotobike marker\n        marker_mapmotobike = new google.maps.Marker({\n            position: { lat: obj_mapmotobike.lat, lng: obj_mapmotobike.lng},\n            map: g_map_single,\n            label: obj_mapmotobike.name,\n        });\n    }\n    else{\n        //reset position, rebind map object.\n        marker_mapmotobike.setPosition(obj_mapmotobike);\n        marker_mapmotobike.setMap(g_map_single);\n    }\n    /* marker - End */\n    \n}\n$(document).ready(function()\n{\n    setInterval( update_mapmotobike ,2000);\n});\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "499bd25c.dba8dc",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "95990b3d.d35608",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "x": 1350,
        "y": 240,
        "wires": []
    },
    {
        "id": "e1929d27.e482f",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "95990b3d.d35608",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "x": 1350,
        "y": 280,
        "wires": []
    },
    {
        "id": "708bf1b1.9549f",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "95990b3d.d35608",
        "order": 1,
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1350,
        "y": 320,
        "wires": []
    },
    {
        "id": "fafe13e7.fa5f8",
        "type": "timeouttrigger",
        "z": "48669318.1fb32c",
        "ontimeouttype": "str",
        "ontimeoutval": "0",
        "duration": "5",
        "units": "s",
        "name": "Timeout_mootobike",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "ca440fa.bdbc1f",
                "f5080094.69c72"
            ]
        ]
    },
    {
        "id": "ca440fa.bdbc1f",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get Timeout",
        "func": "if(msg.payload === \"0\"){\n    return msg;\n}\nelse{\n    msg.payload = \"1\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 240,
        "wires": [
            [
                "708bf1b1.9549f"
            ]
        ]
    },
    {
        "id": "cc779050.2be3b",
        "type": "mqtt in",
        "z": "48669318.1fb32c",
        "name": "iTemperature_MQSub",
        "topic": "cs/iTemperature/output",
        "qos": "1",
        "datatype": "auto",
        "broker": "14db5b16.b04755",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "805af43a.c44c28",
                "b76fa884.b03da8"
            ]
        ]
    },
    {
        "id": "805af43a.c44c28",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get value",
        "func": "var obj = JSON.parse(msg.payload);\nif(typeof obj.value.N !== \"undefined\")\n{\n    msg.payload = {\n               name: obj.value.N,\n               ip  : obj.value.IP,\n               mac : obj.value.Mac,\n               gps : obj.value.GPS,\n               key : obj.value.Key,\n               lat : obj.value.Lat,\n               lng : obj.value.Lng,\n               hum : obj.value.hum,\n               temp : obj.value.temp,\n              };\n    console.log(obj);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "1af18c55.0aafa4",
                "efad88ea.1dce18",
                "61ec5802.70a8d8",
                "2b49ddcf.808382"
            ]
        ]
    },
    {
        "id": "1af18c55.0aafa4",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "88cfddb3.8c3f6",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "x": 1350,
        "y": 440,
        "wires": []
    },
    {
        "id": "efad88ea.1dce18",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "88cfddb3.8c3f6",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "x": 1350,
        "y": 480,
        "wires": []
    },
    {
        "id": "b76fa884.b03da8",
        "type": "timeouttrigger",
        "z": "48669318.1fb32c",
        "ontimeouttype": "str",
        "ontimeoutval": "0",
        "duration": "5",
        "units": "s",
        "name": "Timeout_iTemperature",
        "x": 610,
        "y": 520,
        "wires": [
            [
                "d95c728a.e8c18"
            ]
        ]
    },
    {
        "id": "2b529ae7.f5dae6",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "88cfddb3.8c3f6",
        "order": 1,
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1350,
        "y": 520,
        "wires": []
    },
    {
        "id": "d95c728a.e8c18",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get Timeout",
        "func": "if(msg.payload === \"0\"){\n    return msg;\n}\nelse{\n    msg.payload = \"1\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 520,
        "wires": [
            [
                "2b529ae7.f5dae6"
            ]
        ]
    },
    {
        "id": "61ec5802.70a8d8",
        "type": "ui_gauge",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "88cfddb3.8c3f6",
        "order": 6,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "℃",
        "format": "{{msg.payload.temp}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1370,
        "y": 560,
        "wires": []
    },
    {
        "id": "26f0a6ee.81265a",
        "type": "ui_chart",
        "z": "48669318.1fb32c",
        "name": "",
        "group": "88cfddb3.8c3f6",
        "order": 7,
        "width": 6,
        "height": 3,
        "label": "humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1360,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2b49ddcf.808382",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "convert humidity",
        "func": "var hum = msg.payload.hum;\nmsg.payload = hum;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 660,
        "wires": [
            [
                "26f0a6ee.81265a"
            ]
        ]
    },
    {
        "id": "a8862612.926768",
        "type": "mqtt in",
        "z": "48669318.1fb32c",
        "name": "iLED_MQSub",
        "topic": "cs/iLED/output",
        "qos": "1",
        "datatype": "auto",
        "broker": "14db5b16.b04755",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 330,
        "y": 700,
        "wires": [
            [
                "c8265c1f.73f31",
                "43f4a255.b01e6c"
            ]
        ]
    },
    {
        "id": "c8265c1f.73f31",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get value",
        "func": "var obj = JSON.parse(msg.payload);\nif(typeof obj.value.N !== \"undefined\")\n{\n    msg.payload = {\n               name: obj.value.N,\n               ip  : obj.value.IP,\n               mac : obj.value.Mac,\n               gps : obj.value.GPS,\n               key : obj.value.Key,\n               lat : obj.value.Lat,\n               lng : obj.value.Lng,\n               hum : obj.value.hum,\n               temp : obj.value.temp,\n              };\n    console.log(obj);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 700,
        "wires": [
            [
                "49922053.1b425",
                "201cbf44.30eac"
            ]
        ]
    },
    {
        "id": "49922053.1b425",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "dc2921a9.cfd04",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "x": 1350,
        "y": 700,
        "wires": []
    },
    {
        "id": "201cbf44.30eac",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "dc2921a9.cfd04",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "x": 1350,
        "y": 740,
        "wires": []
    },
    {
        "id": "43f4a255.b01e6c",
        "type": "timeouttrigger",
        "z": "48669318.1fb32c",
        "ontimeouttype": "str",
        "ontimeoutval": "0",
        "duration": "5",
        "units": "s",
        "name": "Timeout_iLED",
        "x": 590,
        "y": 780,
        "wires": [
            [
                "9298b544.16e858"
            ]
        ]
    },
    {
        "id": "70b8ce27.310cd",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "dc2921a9.cfd04",
        "order": 1,
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1350,
        "y": 780,
        "wires": []
    },
    {
        "id": "9298b544.16e858",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get Timeout",
        "func": "if(msg.payload === \"0\"){\n    return msg;\n}\nelse{\n    msg.payload = \"1\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 780,
        "wires": [
            [
                "70b8ce27.310cd"
            ]
        ]
    },
    {
        "id": "bc8028a.9b906d8",
        "type": "mqtt out",
        "z": "48669318.1fb32c",
        "name": "iLED_MQPub",
        "topic": "cs/iLED/input",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "14db5b16.b04755",
        "x": 1600,
        "y": 840,
        "wires": []
    },
    {
        "id": "8853e36f.baa41",
        "type": "ui_switch",
        "z": "48669318.1fb32c",
        "name": "",
        "label": "LED-1",
        "tooltip": "",
        "group": "dc2921a9.cfd04",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 1350,
        "y": 840,
        "wires": [
            [
                "bc8028a.9b906d8"
            ]
        ]
    },
    {
        "id": "c243d624.8b73d8",
        "type": "ui_switch",
        "z": "48669318.1fb32c",
        "name": "",
        "label": "LED-2",
        "tooltip": "",
        "group": "dc2921a9.cfd04",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2=1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2=0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1350,
        "y": 900,
        "wires": [
            [
                "bc8028a.9b906d8"
            ]
        ]
    },
    {
        "id": "376c9879.5306b8",
        "type": "http request",
        "z": "48669318.1fb32c",
        "name": "Line Nootify",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "8fd10179.2c6d3",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f5080094.69c72",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "Timeoout Notify",
        "func": "if(msg.payload === \"0\"){\n    //Line Notify 在HTTP Header指定的 Content-Type\n    msg.headers = {\n                    'content-type':'application/x-www-form-urlencoded',\n                    'Authorization': 'Bearer <your_line_notify_token>'\n                    }\n    msg.payload=\"message=motobike is miss\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a67cb156.50a6c",
        "type": "inject",
        "z": "48669318.1fb32c",
        "name": "motobike_interval",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 970,
        "y": 100,
        "wires": [
            [
                "7acd610.8f73aa"
            ]
        ]
    },
    {
        "id": "7acd610.8f73aa",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "motobike_move",
        "func": "//define motobike track\nvar MOTOLNG=[121.51370286941528,121.51400327682495,121.51421785354613,121.51443243026733,121.51453971862792,121.51456117630005,121.51464700698853,121.51473283767699,121.51481866836546,121.5148615837097,121.51494741439821,121.51507616043091,121.51505470275877,121.51505470275877,121.51496887207031,121.51479721069336,121.51453971862792,121.5143895149231,121.51421785354613,121.51404619216919,121.51393890380858,121.5138530731201,121.51361703872679,121.51342391967773,121.5132737159729,121.51308059692381,121.51301622390748,121.51267290115356,121.51247978210448,121.51239395141602,121.51215791702269,121.51187896728514,121.51155710220335,121.5116000175476,121.51144981384277,121.51110649108885,121.51110649108885,121.51093482971191,121.51093482971191,121.51108503341675,121.51134252548218,121.51172876358032,121.51224374771117,121.51254415512085,121.51275873184203,121.5132737159729,121.51346683502197,121.51353120803832,121.51357412338255]\nvar MOTOLAT=[25.003619630203737,25.003619630203737,25.00369741690872,25.00371686357727,25.003619630203737,25.00342516322579,25.003230695940015,25.003036228346414,25.002841760444987,25.002491717446702,25.002258354893765,25.00198609802178,25.00179162845812,25.001558264575433,25.001363794334594,25.001169323785927,25.000935958721218,25.000702593213294,25.000508121618097,25.000274755297553,25.000080283025177,25.000002494030042,24.999808021326764,24.999652442942512,24.999341285583085,24.999224601370152,24.998952337775723,24.998796758308046,24.99864117864338,24.99836891375624,24.998680073578004,24.998816205752266,24.998971785195316,24.999107917046384,24.99928294349046,24.99941907499681,24.99957465367652,24.999885810445026,25.000138624739215,25.000508121618097,25.00081927602266,25.001149876714134,25.00151937055187,25.002063885761057,25.002452823718674,25.002783420014545,25.00317235569425,25.003327929621374,25.003464056646013]\n\n//get count\nvar count = global.get('count')||0;\n\n//generate motobike position json\nmsg.payload = {\n                rescmd:\"18\",\n                ret:\"OK\",\n                value : {\n                            N:\"MotoBike\",\n                            GPS:\"1\",\n                            IP:\"192.168.8.8\",\n                            MAC:\"80:7D:3A:32:8A:AA\",\n                            Lat: MOTOLAT[count],\n                            Lng: MOTOLNG[count],\n                            Key: \"N/A\"\n                        }\n                };\n\nconsole.log(count);\nconsole.log(MOTOLAT);\nconsole.log(MOTOLAT[count]);\n// store the count back\ncount += 1;\nif(count >= MOTOLNG.length-1){\n    count = 0;\n}\nglobal.set('count',count);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 100,
        "wires": [
            [
                "4371975c.3bf858"
            ]
        ]
    },
    {
        "id": "4371975c.3bf858",
        "type": "mqtt out",
        "z": "48669318.1fb32c",
        "name": "motobike_MQPub",
        "topic": "csstudiospace/motobike/output",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "14db5b16.b04755",
        "x": 1530,
        "y": 100,
        "wires": []
    },
    {
        "id": "2dbd13ad.2d23bc",
        "type": "mqtt in",
        "z": "48669318.1fb32c",
        "name": "iParking_MQSub",
        "topic": "cs/iParking/output",
        "qos": "1",
        "datatype": "auto",
        "broker": "14db5b16.b04755",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 340,
        "y": 980,
        "wires": [
            [
                "b3489e6f.24a2d",
                "32ea732e.0946cc"
            ]
        ]
    },
    {
        "id": "b3489e6f.24a2d",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get value",
        "func": "var obj = JSON.parse(msg.payload);\nif(typeof obj.value.N !== \"undefined\")\n{\n    msg.payload = {\n               name: obj.value.N,\n               ip  : obj.value.IP,\n               mac : obj.value.Mac,\n               gps : obj.value.GPS,\n               key : obj.value.Key,\n               lat : obj.value.Lat,\n               lng : obj.value.Lng,\n               dis : obj.value.dis,\n               led : obj.value.led,\n              };\n    console.log(obj);\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 980,
        "wires": [
            [
                "4ebeb1a1.4827b",
                "eaca882e.8ee788",
                "f796b081.1abc4",
                "9d4357fa.8d0c88"
            ]
        ]
    },
    {
        "id": "4ebeb1a1.4827b",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "eb937b05.8160a8",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "x": 1350,
        "y": 980,
        "wires": []
    },
    {
        "id": "eaca882e.8ee788",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "eb937b05.8160a8",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "x": 1350,
        "y": 1020,
        "wires": []
    },
    {
        "id": "32ea732e.0946cc",
        "type": "timeouttrigger",
        "z": "48669318.1fb32c",
        "ontimeouttype": "str",
        "ontimeoutval": "0",
        "duration": "5",
        "units": "s",
        "name": "Timeout_iParking",
        "x": 600,
        "y": 1060,
        "wires": [
            [
                "a96c89bb.e6d348"
            ]
        ]
    },
    {
        "id": "464edf3d.96416",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "eb937b05.8160a8",
        "order": 1,
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1350,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a96c89bb.e6d348",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "get Timeout",
        "func": "if(msg.payload === \"0\"){\n    return msg;\n}\nelse{\n    msg.payload = \"1\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1060,
        "wires": [
            [
                "464edf3d.96416"
            ]
        ]
    },
    {
        "id": "f796b081.1abc4",
        "type": "ui_text",
        "z": "48669318.1fb32c",
        "group": "eb937b05.8160a8",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Distance",
        "format": "{{msg.payload.dis}}",
        "layout": "row-left",
        "x": 1360,
        "y": 1100,
        "wires": []
    },
    {
        "id": "dc21adfe.d014c",
        "type": "ui_led",
        "z": "48669318.1fb32c",
        "group": "eb937b05.8160a8",
        "order": 9,
        "width": 3,
        "height": 1,
        "label": "有空位",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "green",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "orange",
                "value": "2",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "name": "",
        "x": 1350,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9d4357fa.8d0c88",
        "type": "function",
        "z": "48669318.1fb32c",
        "name": "convert isred",
        "func": "msg.payload = msg.payload.led;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1140,
        "wires": [
            [
                "dc21adfe.d014c"
            ]
        ]
    }
]