node-v12.18.3-win-x86/flows_multiple.json
[{"id":"c2f923f0.c8a7","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"ea616b59.042b88","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"90c31fa9.2d59c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"19bace4.5258432","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"962b400f.514c9","type":"ui_group","name":"dutTest_com","tab":"19bace4.5258432","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea544603.95b2c8","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1c5f2803.333698","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"444b71bf.eb96d","type":"ui_group","name":"All","tab":"1c5f2803.333698","order":1,"disp":true,"width":15,"collapse":false},{"id":"58ba346a.69ff8c","type":"function","z":"c2f923f0.c8a7","name":"dutTest_fun","func":"console.log(msg);\nvar obj = JSON.parse(msg.payload);\nmsg.name = obj.name;\nmsg.value = obj.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":320,"wires":[["c5504a66.cba088","78d3efca.faea1"]]},{"id":"c5504a66.cba088","type":"ui_text","z":"c2f923f0.c8a7","group":"962b400f.514c9","order":0,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.name}}","layout":"row-spread","x":500,"y":280,"wires":[]},{"id":"78d3efca.faea1","type":"ui_text","z":"c2f923f0.c8a7","group":"962b400f.514c9","order":1,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.value}}","layout":"row-spread","x":500,"y":360,"wires":[]},{"id":"7085a646.173568","type":"mqtt in","z":"c2f923f0.c8a7","name":"dutTest_Sub","topic":"cs/dutTest/Info","qos":"2","datatype":"auto","broker":"ea544603.95b2c8","nl":false,"rap":true,"rh":0,"x":110,"y":320,"wires":[["58ba346a.69ff8c"]]},{"id":"ef1a0a2b.279568","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":1,"width":5,"height":1,"name":"","label":"Name+Value1","format":"{{msg.all}}","layout":"row-spread","x":600,"y":240,"wires":[]},{"id":"dda9cc44.aa3a7","type":"function","z":"ea616b59.042b88","name":"dutTest_fun","func":"console.log(msg);\nvar obj = JSON.parse(msg.payload);\nmsg.name = obj.name;\nmsg.value = obj.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":1020,"wires":[["88a3e156.29cc1","2858671e.f65bb8","6bf5e99c.2366c8","34e8a337.ab2dec","f8b5154e.57b3f8","a9a33968.8a6b18","ae1fb5bc.3397a8","c3147944.cbb5a8","52c92712.4edae8","995e7747.5f5c68","4c3eae58.ef441","8bf5f71b.5521d8","6515fc42.148944","9baf3bb3.1f53f8","226924f7.ca40dc","5b4b1758.62a458","53c62813.4eec08","c5d176de.885358","eb998c6f.3a346","e405cd09.17dd4","e17a1121.343ff","fe279625.2c03b8","f39db439.2df2f8","c083ffc6.e5948","83b87d1c.0c905","7daa967c.6efa28","8881e06a.c014a","e272711c.75d52","1f591d41.0d0d93","180a1262.7c592e"]]},{"id":"9bf7c352.ec40e","type":"mqtt in","z":"ea616b59.042b88","name":"dutTest_Sub","topic":"cs/dutTest/hivemq","qos":"2","datatype":"auto","broker":"ea544603.95b2c8","nl":false,"rap":true,"rh":0,"x":80,"y":240,"wires":[["dda9cc44.aa3a7"]]},{"id":"88a3e156.29cc1","type":"function","z":"ea616b59.042b88","name":"get1","func":"if(msg.name == \"MyESP8266_1\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["ef1a0a2b.279568"]]},{"id":"2858671e.f65bb8","type":"function","z":"ea616b59.042b88","name":"get2","func":"if(msg.name == \"MyESP8266_2\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["2027d51c.b3f60a"]]},{"id":"2027d51c.b3f60a","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":4,"width":5,"height":1,"name":"","label":"Name+Value2","format":"{{msg.all}}","layout":"row-spread","x":600,"y":280,"wires":[]},{"id":"6bf5e99c.2366c8","type":"function","z":"ea616b59.042b88","name":"get3","func":"if(msg.name == \"MyESP8266_3\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":320,"wires":[["b803a112.6f6"]]},{"id":"b803a112.6f6","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":7,"width":5,"height":1,"name":"","label":"Name+Value3","format":"{{msg.all}}","layout":"row-spread","x":600,"y":320,"wires":[]},{"id":"34e8a337.ab2dec","type":"function","z":"ea616b59.042b88","name":"get4","func":"if(msg.name == \"MyESP8266_4\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":360,"wires":[["6b75ad25.720244"]]},{"id":"6b75ad25.720244","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":10,"width":5,"height":1,"name":"","label":"Name+Value4","format":"{{msg.all}}","layout":"row-spread","x":600,"y":360,"wires":[]},{"id":"f8b5154e.57b3f8","type":"function","z":"ea616b59.042b88","name":"get5","func":"if(msg.name == \"MyESP8266_5\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":400,"wires":[["3ea7b15b.8fda1e"]]},{"id":"3ea7b15b.8fda1e","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":13,"width":5,"height":1,"name":"","label":"Name+Value5","format":"{{msg.all}}","layout":"row-spread","x":600,"y":400,"wires":[]},{"id":"a9a33968.8a6b18","type":"function","z":"ea616b59.042b88","name":"get6","func":"if(msg.name == \"MyESP8266_6\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["da4c6ea2.08da7"]]},{"id":"da4c6ea2.08da7","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":16,"width":5,"height":1,"name":"","label":"Name+Value6","format":"{{msg.all}}","layout":"row-spread","x":600,"y":440,"wires":[]},{"id":"ae1fb5bc.3397a8","type":"function","z":"ea616b59.042b88","name":"get7","func":"if(msg.name == \"MyESP8266_7\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":480,"wires":[["cf4c9976.6fa438"]]},{"id":"cf4c9976.6fa438","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":19,"width":5,"height":1,"name":"","label":"Name+Value7","format":"{{msg.all}}","layout":"row-spread","x":600,"y":480,"wires":[]},{"id":"c3147944.cbb5a8","type":"function","z":"ea616b59.042b88","name":"get8","func":"if(msg.name == \"MyESP8266_8\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":520,"wires":[["f176bffa.6b3ce"]]},{"id":"f176bffa.6b3ce","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":22,"width":5,"height":1,"name":"","label":"Name+Value8","format":"{{msg.all}}","layout":"row-spread","x":600,"y":520,"wires":[]},{"id":"52c92712.4edae8","type":"function","z":"ea616b59.042b88","name":"get9","func":"if(msg.name == \"MyESP8266_9\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":560,"wires":[["713a37e5.7ce7e8"]]},{"id":"713a37e5.7ce7e8","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":25,"width":5,"height":1,"name":"","label":"Name+Value9","format":"{{msg.all}}","layout":"row-spread","x":600,"y":560,"wires":[]},{"id":"995e7747.5f5c68","type":"function","z":"ea616b59.042b88","name":"get10","func":"if(msg.name == \"MyESP8266_10\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":600,"wires":[["f97d2856.7cf058"]]},{"id":"f97d2856.7cf058","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":28,"width":5,"height":1,"name":"","label":"Name+Value10","format":"{{msg.all}}","layout":"row-spread","x":600,"y":600,"wires":[]},{"id":"4c3eae58.ef441","type":"function","z":"ea616b59.042b88","name":"get11","func":"if(msg.name == \"MyESP8266_11\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":640,"wires":[["4abbd200.a55eb"]]},{"id":"4abbd200.a55eb","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":2,"width":5,"height":1,"name":"","label":"Name+Value11","format":"{{msg.all}}","layout":"row-spread","x":600,"y":640,"wires":[]},{"id":"8bf5f71b.5521d8","type":"function","z":"ea616b59.042b88","name":"get12","func":"if(msg.name == \"MyESP8266_12\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":680,"wires":[["ce5ce61e.56e408"]]},{"id":"ce5ce61e.56e408","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":5,"width":5,"height":1,"name":"","label":"Name+Value12","format":"{{msg.all}}","layout":"row-spread","x":600,"y":680,"wires":[]},{"id":"6515fc42.148944","type":"function","z":"ea616b59.042b88","name":"get13","func":"if(msg.name == \"MyESP8266_13\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":720,"wires":[["27e7671a.346a88"]]},{"id":"27e7671a.346a88","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":8,"width":5,"height":1,"name":"","label":"Name+Value13","format":"{{msg.all}}","layout":"row-spread","x":600,"y":720,"wires":[]},{"id":"9baf3bb3.1f53f8","type":"function","z":"ea616b59.042b88","name":"get14","func":"if(msg.name == \"MyESP8266_14\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":760,"wires":[["c2b066fe.2e1838"]]},{"id":"c2b066fe.2e1838","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":11,"width":5,"height":1,"name":"","label":"Name+Value14","format":"{{msg.all}}","layout":"row-spread","x":600,"y":760,"wires":[]},{"id":"226924f7.ca40dc","type":"function","z":"ea616b59.042b88","name":"get15","func":"if(msg.name == \"MyESP8266_15\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":800,"wires":[["d2fcbc64.781f5"]]},{"id":"d2fcbc64.781f5","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":14,"width":5,"height":1,"name":"","label":"Name+Value15","format":"{{msg.all}}","layout":"row-spread","x":600,"y":800,"wires":[]},{"id":"5b4b1758.62a458","type":"function","z":"ea616b59.042b88","name":"get16","func":"if(msg.name == \"MyESP8266_16\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":840,"wires":[["1dc4b11.d56d84f"]]},{"id":"1dc4b11.d56d84f","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":17,"width":5,"height":1,"name":"","label":"Name+Value16","format":"{{msg.all}}","layout":"row-spread","x":600,"y":840,"wires":[]},{"id":"53c62813.4eec08","type":"function","z":"ea616b59.042b88","name":"get17","func":"if(msg.name == \"MyESP8266_17\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":880,"wires":[["52cef402.56ad3c"]]},{"id":"52cef402.56ad3c","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":20,"width":5,"height":1,"name":"","label":"Name+Value17","format":"{{msg.all}}","layout":"row-spread","x":600,"y":880,"wires":[]},{"id":"c5d176de.885358","type":"function","z":"ea616b59.042b88","name":"get18","func":"if(msg.name == \"MyESP8266_18\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":920,"wires":[["19da7249.4de4ce"]]},{"id":"19da7249.4de4ce","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":23,"width":5,"height":1,"name":"","label":"Name+Value18","format":"{{msg.all}}","layout":"row-spread","x":600,"y":920,"wires":[]},{"id":"eb998c6f.3a346","type":"function","z":"ea616b59.042b88","name":"get19","func":"if(msg.name == \"MyESP8266_19\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":960,"wires":[["8be180f3.b82e1"]]},{"id":"8be180f3.b82e1","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":26,"width":5,"height":1,"name":"","label":"Name+Value19","format":"{{msg.all}}","layout":"row-spread","x":600,"y":960,"wires":[]},{"id":"e405cd09.17dd4","type":"function","z":"ea616b59.042b88","name":"get20","func":"if(msg.name == \"MyESP8266_20\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1000,"wires":[["95f539f4.8c9248"]]},{"id":"95f539f4.8c9248","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":29,"width":5,"height":1,"name":"","label":"Name+Value20","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1000,"wires":[]},{"id":"e17a1121.343ff","type":"function","z":"ea616b59.042b88","name":"get21","func":"if(msg.name == \"MyESP8266_21\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1040,"wires":[["dc8e4f3.8223cb"]]},{"id":"dc8e4f3.8223cb","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":3,"width":5,"height":1,"name":"","label":"Name+Value21","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1040,"wires":[]},{"id":"fe279625.2c03b8","type":"function","z":"ea616b59.042b88","name":"get22","func":"if(msg.name == \"MyESP8266_22\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1080,"wires":[["112a9dc6.7a0312"]]},{"id":"112a9dc6.7a0312","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":6,"width":5,"height":1,"name":"","label":"Name+Value22","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1080,"wires":[]},{"id":"f39db439.2df2f8","type":"function","z":"ea616b59.042b88","name":"get23","func":"if(msg.name == \"MyESP8266_23\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1120,"wires":[["d04d5666.23d098"]]},{"id":"d04d5666.23d098","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":9,"width":5,"height":1,"name":"","label":"Name+Value23","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1120,"wires":[]},{"id":"c083ffc6.e5948","type":"function","z":"ea616b59.042b88","name":"get24","func":"if(msg.name == \"MyESP8266_24\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1160,"wires":[["cef3a1bc.ab0cf"]]},{"id":"cef3a1bc.ab0cf","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":12,"width":5,"height":1,"name":"","label":"Name+Value24","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1160,"wires":[]},{"id":"83b87d1c.0c905","type":"function","z":"ea616b59.042b88","name":"get25","func":"if(msg.name == \"MyESP8266_25\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1200,"wires":[["c3e4991d.9ae1d8"]]},{"id":"c3e4991d.9ae1d8","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":15,"width":5,"height":1,"name":"","label":"Name+Value25","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1200,"wires":[]},{"id":"7daa967c.6efa28","type":"function","z":"ea616b59.042b88","name":"get26","func":"if(msg.name == \"MyESP8266_26\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1240,"wires":[["869aa472.234da8"]]},{"id":"869aa472.234da8","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":18,"width":5,"height":1,"name":"","label":"Name+Value26","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1240,"wires":[]},{"id":"8881e06a.c014a","type":"function","z":"ea616b59.042b88","name":"get27","func":"if(msg.name == \"MyESP8266_27\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1280,"wires":[["e4df84ae.ddf9e8"]]},{"id":"e4df84ae.ddf9e8","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":21,"width":5,"height":1,"name":"","label":"Name+Value27","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1280,"wires":[]},{"id":"e272711c.75d52","type":"function","z":"ea616b59.042b88","name":"get28","func":"if(msg.name == \"MyESP8266_28\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1320,"wires":[["5d3d00b7.c4afd"]]},{"id":"5d3d00b7.c4afd","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":24,"width":5,"height":1,"name":"","label":"Name+Value28","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1320,"wires":[]},{"id":"1f591d41.0d0d93","type":"function","z":"ea616b59.042b88","name":"get29","func":"if(msg.name == \"MyESP8266_29\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1360,"wires":[["37992aec.c29326"]]},{"id":"37992aec.c29326","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":27,"width":5,"height":1,"name":"","label":"Name+Value29","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1360,"wires":[]},{"id":"180a1262.7c592e","type":"function","z":"ea616b59.042b88","name":"get30","func":"if(msg.name == \"MyESP8266_30\"){\n    msg.all = msg.name+\",\"+msg.value;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1400,"wires":[["d35fdbf9.c68998"]]},{"id":"d35fdbf9.c68998","type":"ui_text","z":"ea616b59.042b88","group":"444b71bf.eb96d","order":30,"width":5,"height":1,"name":"","label":"Name+Value30","format":"{{msg.all}}","layout":"row-spread","x":600,"y":1400,"wires":[]}]
